.about {
  padding-top: 108px;
  padding-bottom: 110px;
}
.services__text-h4 span {
  color: #005FA3;
}
.services__text-h4.h4-margin {
  margin-bottom: 60px;
}
.about__text-p {
  font-size: 18px;
  line-height: 25px;
  color: #000000;
}
.about-block {
  width: 255px;
  height: 255px;
  background-color: #EBEBEB;
  border: 1px solid #EBEBEB;
  margin-bottom: 30px;
}
.about-block:hover * {
  background-color: #005FA3;
  color: #EBEBEB;
}
.about-block__descr {
  padding: 30px 0 40px 40px;
}
.block__descr-h6 {
  padding-bottom: 15px;
  margin: 0;
  font-weight: 900;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}
.block__descr-p {
  padding-bottom: 50px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  max-width: 115px;
}
.block__descr-a {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #005FA3;
  outline: none;
}
